@font-face {
    font-family: 'amadeus_regularamadeusRg';
    src: url('policesAmadeus-webfont.eot');
    src: url('polices/Amadeus-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Amadeus-webfont.woff') format('woff'),
         url('polices/Amadeus-webfont.ttf') format('truetype'),
         url('polices/Amadeus-webfont.svg#amadeus_regularamadeusRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-titletitle';
    src: url('polices/Rubik-Regular.ttf');
    src: url('polices/Rubik-Regular.ttf?#iefix') format('embedded-opentype'),
         url('polices/Rubik-Regular.ttf') format('ttf'),
         url('polices/Rubik-Regular.ttf') format('truetype'),
         url('polices/Rubik-Regular.ttf#ubuntu-titletitle') format('ttf');
    font-weight: normal;
    font-style: normal;

}


html{
	background: url(images/fond.png) repeat top left;
	font-family: 'ubuntu-titletitle',Impact,arial;
}



#top, #blocImagePrincipal, article, footer{
	width: 950px;
	margin: auto;
}

#top{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


#logoEtTitre{
	display: flex;
	align-items: baseline;
	height: 85px;
	padding: 0;
}

#logo{
	display: flex;
	flex-direction: column;
}

#logo img{
	float: left;
	margin-bottom: 0;
}

#logo h1{
	font-family: 'amadeus_regularamadeusRg', Impact, arial;
	padding-top: 1em;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: right;
}

#logo p{
	margin-top: 0;
	clear: left;
	text-align: right;
}

nav{
}

nav ul{
	display: flex;
}

nav li{
	text-align: center;
	list-style-type: none;
	margin: 0.3em;
	height: 25px;
	font-size: 1.5em;	
	border-bottom: 3px solid #fcf6d6;
}

nav li:hover{
	color: #9b2f23;
	border-bottom: 3px solid #9b2f23;
}

#separationHaut{
	background: url(images/separateur.png) repeat top left;
	height: 4px;
}

#separationBas{
	position: relative;

}

#bordureBas1{
	height: 4px;
	background: url(images/separateur.png) repeat top left;	
}

#bordureBas2{
	height: 13px;
	background-color: black;
	background: url(images/ombre.png) repeat top left;	
}

#separationBas #flecheBas{
	position: absolute;
	top: 0;
	left: 50%;
}

#imagePrincipal{
	margin-top: 3em;
	border-radius: 3px;
}

section{
	background-color: #dbcf8a;
}

#blocImagePrincipal{
	margin-top: 15px;
	height: 200px;
	background: url(images/sanfrancisco.jpg) no-repeat;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 5px 5px #999;
	margin-bottom: 20px;
}

#bandeImagePrincipal{
	background-color: rgba(40,40,40,0.8);
	width: 99.9%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	border-radius: 5px;
}

#bandeImagePrincipal a{
	color: white;
	text-decoration-line: none;
}

#bandeImagePrincipal p{
	color: white;
	margin-left: 7px;
}

#boutton{
	margin-right: 7px;
	border-radius: 5px;
	padding: 0 4px 0 2px;
	width: 110px;
	height: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url(images/fond_degraderouge.png) repeat-x;
}

#boutton a:hover{
	color: red;
}

#texteCentral{
	flex: 3;
}

#titreTexteCentral{
	display: flex;
	align-items: baseline;
	margin-bottom: 0;
	padding-bottom: 0;
	height: 40px;
}

#titreTexteCentral h2{
	/*height: 50%;*/
	padding-left: 20px;
}

article{
	display: flex;
	padding: 10px;
}

aside{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px 10px 10px 10px;
	background-color: #666;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;
}

aside #bulle{
	position: absolute;
	top:120px;
	left: -12px;
}

footer{
	height: 200px;
	display: flex;
	justify-content: space-between;
}

#amis ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#amis li{
	width: 120px;
	color: #9b3328;
	list-style-image: url(images/ico_liensexterne.png);
}

#tweet{
	flex: 1;
}

#mesPhotos{
	flex: 1;
}
#amis{
	flex: 1
}

#mesPhotos img{
	border: 1px solid black;
}